- name: Set System Flags
  block:
    - name: Set board vendor flag with the actual vendor value
      set_fact:
        board_vendor: "{{ ansible_facts['board_vendor'] }}"

    - name: Set CPU brand flag with the first word of the processor
      set_fact:
        cpu_generation: "{{ ansible_facts['processor'][2].split(' ')[0] }}"

- name: Display System Information
  block:
    - name: Display board vendor flag
      debug:
        msg: "Board Vendor Flag: {{ board_vendor }}"

    - name: Display CPU brand first word
      debug:
        msg: "CPU Generation: {{ cpu_generation }}"

- name: "Laptop Workarounds | Checking for Distribution Config: {{ ansible_distribution }}"
  ansible.builtin.stat:
    path: "pre_tasks/laptop_workarounds/tasks/{{ ansible_distribution }}.yml"
  register: laptop_workarounds_distribution_config

- name: "Laptop Workarounds | Run Tasks: {{ ansible_distribution }}"
  ansible.builtin.include_tasks: "{{ ansible_distribution }}.yml"
  when: laptop_workarounds_distribution_config.stat.exists
