---
- name: Install Hyprland Packages and Dependencies
  block:
    - name: Install Hyprland Packages
      community.general.pacman:
        name: "{{ item }}"
        state: present
      become: true
      loop:
        - hyprcursor
        - hyprlang
        - hyprutils
        - hyprwayland-scanner
        - hyprland
        - hypridle
        - hyprlock
        - xdg-desktop-portal-hyprland
        - playerctl
        - polkit-gnome
        # plugin dependencies
        - cmake
        - cpio

- name: Install Icons Themes
  block:
    - name: Install Cursor Icons Package
      kewlfft.aur.aur:
        name: "{{ item }}"
        state: present
        use: "{{ pacman.aur_helper }}"
      become: false
      loop:
        - "{{ icons.cursor_icons_package }}"

