---
- name: "Hyprland | Checking for Distribution Config: {{ ansible_distribution }}"
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_distribution }}.yml"
  register: hyprland_distribution_config

- name: "Hyprland | Run Tasks: {{ ansible_distribution }}"
  ansible.builtin.include_tasks: "{{ ansible_distribution }}.yml"
  when: hyprland_distribution_config.stat.exists

- name: "Hyprland | Configure Hyprland"
  ansible.builtin.copy:
    src: hypr
    dest: "{{ ansible_user_dir }}/.config"
    mode: "0644"
    directory_mode: "0755"
    force: true

- name: "Hyprland | Configure Hyprland"
  ansible.builtin.copy:
    src: hypr/scripts
    dest: "{{ ansible_user_dir }}/.config/hypr/"
    mode: "0755"
    directory_mode: "0755"
    force: true

- name: Update hyprland autostart config
  ansible.builtin.template:
    src: autostart.conf.j2
    dest: "{{ ansible_user_dir }}/.config/hypr/config/autostart.conf"
    backup: no
    owner: "{{ user }}"
    group: "{{ user }}"
  become: true

- name: Update hyprland environments config
  ansible.builtin.template:
    src: env_default.conf.j2
    dest: "{{ ansible_user_dir }}/.config/hypr/config/environments/default.conf"
    backup: no
    owner: "{{ user }}"
    group: "{{ user }}"
  become: true

- name: Update hyprland environment source file
  ansible.builtin.template:
    src: environment.conf.j2
    dest: "{{ ansible_user_dir }}/.config/hypr/config/environment.conf"
    backup: no
    owner: "{{ user }}"
    group: "{{ user }}"
  become: true
