/* main window styling */
window { 
  background-image: url("/etc/greetd/ags/background.png");
  background-position: center;
  background-size: cover;
}

/* Avatar box */
.avatar {
  background: url('/etc/greetd/ags/avatar.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 999px;
  min-height: 10rem;
  min-width: 10rem;
}

/* Entry box containing the label and entry field */
.entry-box {
  padding: 8px;
}

/* Label styling */
label {
  color: #ffffff;
  font-size: 1rem;
}

/* Entry field styling */
entry {
  color: #ffffff;
  background-color: #373737;
  min-width: 350px;
  border-radius: 2rem;
  border-width: 1px;
  font-size: 1rem;  
}

.login-card {
  background-color: #171717;
  border-radius: 1rem; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 20px; /* Padding inside the box */
  margin: 20px; /* Margin outside the box */
  min-width: 400px
}
