@use 'sass:color';

// Variables
// Colors
$bg: #212223;
$fg: #f1f1f1;
$accent: #378DF7;
$inactive-bg-lightness: 20%;

// Dimensions and Spacing
$radius: 7px;
$button-padding: 0 8px;
$label-margin: .25rem;
$margin: 0.5rem;
$workspace-min-size: 1rem;
$workspace-focus-min-size: 1rem;
$audio-slider-margin: 0 1em;
$slider-min-size: 1em;
$slider-margin: -0.2em;
$icon-margin-right: 0.6em;

// Typography
$font-size: 1.1em;
$font-weight: bold;

// Transition
$transition-duration: 200ms;

// Mixin for common styles
@mixin button-styles {
  all: unset;
  background-color: transparent;
  transition: background-color $transition-duration;

  &:hover label {
    background-color: color.adjust($fg, $alpha: -0.84);
    border-color: color.adjust($accent, $alpha: -0.8);
  }

  &:active label {
    background-color: color.adjust($fg, $alpha: -0.8);
  }
}

@mixin circular-styles($size: $workspace-min-size) {
  min-width: $size;
  min-height: $size;
  border-radius: 50%;
}

// Main window.Bar styles
window.Bar {
  border: none;
  box-shadow: none;
  background-color: $bg;
  color: $fg;
  font-size: $font-size;
  font-weight: $font-weight;

  button {
    @include button-styles;
  }

  label {
    transition: $transition-duration;
    padding: $button-padding;
    margin: $label-margin;
    border-radius: $radius;
    border: 1pt solid transparent;
  }

  .Workspaces {
    button {
      margin: $margin;
      @include circular-styles($workspace-min-size);

      &.focused {
        background-color: $accent;
      }

      &.inactive {
        background-color: color.adjust($bg, $lightness: $inactive-bg-lightness);
      }
    }

    .WorkspaceCircle {
      @include circular-styles($workspace-min-size);
    }
  }

  .FocusedClient {
    color: $accent;
  }

  .Media .Cover {
    min-width: 1.2em;
    min-height: 1.2em;
    border-radius: $radius;
    background-position: center;
    background-size: contain;
  }

  .SysTray {
    margin: $margin;

    button {
      margin-left: $margin;
    }
  }

  .Battery label {
    padding-left: 0;
    margin-left: 0;
  }

  .AudioSlider {
    margin: $audio-slider-margin;

    * {
      all: unset;
    }

    icon {
      margin-right: $icon-margin-right;
    }

    trough,
    highlight,
    slider {
      border-radius: $radius;
    }

    trough {
      background-color: color.adjust($fg, $alpha: -0.8);
    }

    highlight {
      background-color: $accent;
      min-height: 0.8em;
    }

    slider {
      background-color: $fg;
      min-height: $slider-min-size;
      min-width: $slider-min-size;
      margin: $slider-margin;
    }
  }
}