---
- name: Install compatibility layers & utilities
  block:
    - name: Create a list from compatibility layers and utilities
      set_fact:
        all_items: "{{ gaming.compatibility_layer + gaming.utilities }}"

    - name: Install compatibility layers & utilities
      kewlfft.aur.aur:
        name: "{{ item }}"
        state: present
      become: false
      when: pacman.enable_multilib
      loop: "{{ all_items }}"

- name: Installing games launchers
  block:
    - name: Create a list from gaming.launchers
      set_fact:
        all_launchers: "{{ gaming.launchers }}"

    - name: Install game launchers
      kewlfft.aur.aur:
        name: "{{ item }}"
        state: present
        use: "{{ pacman.aur_helper }}"
      become: false
      loop: "{{ all_launchers }}"

    - name: Install Java versions
      community.general.pacman:
        name: "{{ item }}"
        state: present
      become: true
      when: "'prismlauncher-qt5-bin' in gaming.launchers"
      loop:
        - jdk8-openjdk
        - jdk11-openjdk
        - jdk17-openjdk
        - jdk21-openjdk
