---
- name: "Core Apps | Checking for Distribution Config: {{ ansible_distribution }}"
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_distribution }}.yml"
  register: core_apps_distribution_config

- name: "Core Apps | Run Tasks: {{ ansible_distribution }}"
  ansible.builtin.include_tasks: "{{ ansible_distribution }}.yml"
  when: core_apps_distribution_config.stat.exists

- name: Copy Configuration Files
  block:
    - name: "Gather package facts"
      ansible.builtin.package_facts:

    - name: "Sync configuration files"
      ansible.posix.synchronize:
        mode: push
        src: "{{ item.src }}"
        dest: "{{ ansible_user_dir }}/{{ item.dest }}"
        recursive: yes
      loop:
        - { src: 'alacritty', dest: '.config', package: 'alacritty' }
        - { src: 'fastfetch', dest: '.config', package: 'fastfetch' }
        - { src: 'helix', dest: '.config', package: 'helix' }
        - { src: 'oh-my-posh', dest: '.config', package: 'oh-my-posh-bin' }
        - { src: 'zsh/.zshrc', dest: '', package: 'zsh'}
        - { src: 'kitty', dest: '.config', package: 'kitty' }
      when: item.package in ansible_facts.packages

- name: Update User Shell and Disable Warnings
  block:
    - name: Ensure zsh is set for current user
      ansible.builtin.user:
        name: "{{ user }}"
        shell: "/bin/zsh"
      become: true
      when: "'zsh' in core_packages.pacman"

    - name: Disable Oh My Posh Update Warnings
      command: oh-my-posh disable notice
