[terminal]
# The VT to run the greeter on. Can be "next", "current" or a number
# designating the VT.
vt = 1

# The default session, also known as the greeter.
[default_session]

# `agreety` is the bundled agetty/login-lookalike. You can replace `/bin/sh`
# with whatever you want started, such as `sway`.
#command = "cage -s -d -- ags -b greeter -c /etc/greetd/ags/greeter.js"
{% if system.ags.versions is defined %}
{% if 'v1' in system.ags.versions %}
command = "cage -ds -m last agsv1 -- -c /etc/greetd/ags/greeter.js"
{% else %}
command = "cage -ds -m last ags -- run /etc/greetd/ags/greeter.js"
{% endif %}
{% endif %}
#command = "agreety --cmd zsh"


# The user to run the command as. The privileges this user must have depends
# on the greeter. A graphical greeter may for example require the user to be
# in the `video` group.
user = "greeter"
