@use "sass:math";
@use "sass:color";

window#hyprshade {
  .hyprshade {
    @include floating_widget;
    color: $fg;
    background-color: $bg;
    min-width: 25rem;
    min-height: 10rem;

    entry {
      @include button;
      padding: $padding;
      margin: $spacing;
    }

    selection {
      color: color.mix($fg, $bg, 50%);
      background-color: transparent;
    }

    separator {
      margin: 4pt 0;
      margin-right: $spacing;
      margin-left: $spacing;
      background-color: $popover-border-color;
    }
  }
}