@use "sass:math";
@use "sass:color";

window#keybinds {
  .keybinds {
    @include floating_widget;
    color: $fg;
    background-color: $bg;
    min-width: 85rem;
    min-height: 60rem;
  }

  .keybinds-list {
    margin: $spacing;
    padding: $spacing;
  }

  .column-list {
    margin-right: $spacing * 0.1;
    padding-right: $spacing * 0.1;

    .catagory-group {
      background-color: $widget-bg;
      margin: $spacing;
      padding: $spacing;
      border-radius: $radius;
      border: $border;
    }

    .catagory-row {
      padding-bottom: $spacing * 0.5;
    }

    .catagory-label {
      padding-top: $spacing * 0.5;
      padding-bottom: $spacing * 0.5;
    }
  }
}

.header {
  margin-top: $spacing;
  padding-top: $spacing;
}