#################
### AUTOSTART ###
#################
# Setup XDG for screen sharing
exec-once = $hyprland-scripts/xdg.sh

# Initilize ags
exec-once = ags

# Set up cursor theme
exec-once = gsettings set org.gnome.desktop.interface cursor-theme {{ icons.cursor_icons_theme }}
exec-once = hyprctl setcursor {{ icons.cursor_icons_theme }} {{ icons.cursor_icons_size }}

# Environment for xdg-desktop-portal-hyprland
exec-once=dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP
