#################
### AUTOSTART ###
#################
# Setup XDG for screen sharing
exec-once = $hyprland-scripts/xdg.sh

# Start polkit
exec-once=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1

# Autostart plugins
exec-once = hyprpm reload

# Initilize ags
{% if system.ags.need_v1 is defined and system.ags.need_v1 %}
exec-once = agsv1
{% else %}
exec-once = ags
{% endif %}

# Set up cursor theme
exec-once = gsettings set org.gnome.desktop.interface cursor-theme {{ icons.cursor_icons_theme }}
exec-once = hyprctl setcursor {{ icons.cursor_icons_theme }} {{ icons.cursor_icons_size }}

# Set up icon theme
exec-once = gsettings set org.gnome.desktop.interface icon-theme {{ icons.system_icons_theme }}

# initilize hyprpaper
exec-once = hyprpaper

# Initilize hypridle
exec-once = hypridle

# Environment for xdg-desktop-portal-hyprland
exec-once=dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP

{% if system.hyprland.xdg_autostart %}
# XDG autostart
exec-once = dex -a
{% else %}
# Initialize fcitx5
exec-once = /usr/bin/fcitx5
{% endif %}
