@use './dark_variables.scss' as *;
@use 'sass:color';

// --- Mixins ---

// Mixin for button styles
@mixin button-styles($hover-bg-color: $button-bg-hover, $active-bg-color: $button-bg-active, $accent-color: $accent) {
  all: unset;
  background-color: transparent;
  transition: background-color $transition-duration;

  &:hover label {
    background-color: $hover-bg-color;
    border-color: color.adjust($accent-color, $alpha: -0.8);
  }

  &:active label {
    background-color: $active-bg-color;
  }
}

// Mixin for circular styles
@mixin circular-styles($size: $min-size) {
  min-width: $size;
  min-height: $size;
  border-radius: 50%;
}

// --- Main Styles ---

window.Bar {
  border: none;
  box-shadow: none;
  background-color: $bg;
  color: $fg;
  font-size: $font-size;
  font-weight: $font-weight;
  font-family: $font-family;

  button {
    @include button-styles;
  }

  label {
    transition: $transition-duration;
    padding: $button-padding;
    margin: $label-margin;
    border-radius: $radius;
    border: $border-width solid $border-color-transparent;
  }

  .Workspaces {
    button {
      margin: $margin;
      @include circular-styles($min-size);

      &.focused {
        background-color: $accent;
      }

      &.inactive {
        background-color: $border-color-inactive;
      }
    }

    .WorkspaceCircle {
      @include circular-styles(1.5rem);
    }
  }

  .FocusedClient {
    color: $accent;
  }

  .Media {
    min-width: 1.2em;
    min-height: 1.2em;
    border-radius: $radius;
  }

  .SysTray {
    margin: $margin;

    button {
      margin-left: $margin;
    }
  }

  .Battery label {
    padding-left: 0;
    margin-left: $margin;
  }

  .Audio {
    margin-left: $margin;
    margin-right: $margin;
  }
}
