@use 'sass:color';
// --- Variables ---
$bg: #212223;
$fg: #f1f1f1;
$accent: #378DF7;
$button-bg-hover: color.adjust($fg, $alpha: -0.84);
$button-bg-active: color.adjust($fg, $alpha: -0.8);
$border-radius: 6px;
$margin: .5rem;
$padding: .8rem;
$box-shadow: 2px 3px 8px 0 rgba(0, 0, 0, 0.4);
$error: red;
$border-color-transparent: transparent;
$border-color-inactive: color.adjust($bg, $lightness: 20%);

$font-size: 1.1em;
$font-weight: bold;
$font-family: 'Arial', sans-serif;

// Dimensions & Spacing
$radius: 6px;
$button-padding: 0 6px;
$label-margin: .25rem;
$min-size: .5rem;
$slider-margin: -0.2em;
$icon-margin-right: 0.6em;
$border-width: 2px;

// Transitions
$transition-duration: 200ms;
