@use './dark_variables' as *;

// Window Styling
.window {
  background-color: $bg;
  color: $fg;
  padding: $padding;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  font-family: $font-family;
}

// Powermenu Container Styling
.powermenu-container {
  padding: $margin;
  background-color: $bg;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

// Action Buttons Container
.action-buttons {
  padding-top: $margin;
  padding-bottom: $margin;
}

// Action Button Styling
.action-button {
  background-color: $primary-bg;
  color: $fg;
  padding: $button-padding;
  font-size: $font-size;
  font-weight: $font-weight;
  border: $border-width solid $border-color-inactive;
  border-radius: $border-radius;
  transition: background-color $transition-duration, transform $transition-duration;

  &:hover {
    background-color: $button-bg-hover;
  }

  &:active {
    background-color: $button-bg-active;
  }

  .action-icon {
    margin-right: $icon-margin-right;
  }

  .action-label {
    margin-left: $label-margin;
  }
}

// Overlay Background
.overlay {
  background-color: rgba(0, 0, 0, 0.3);
}